
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coming soon</title>
  <meta name="description" content="coming soon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
  <link rel="stylesheet" href="https://pages-themes.github.io/cayman/css/style.css?v=0.2.0">
</head>
<body>
  <header>
    <div class="container">
      <h1> Coming Soon</h1>
      <p>we are working on something</p>
      <a class="btn" href="https://github.com/techxps/ocean" target="_blank" style="text-decoration: none;">View on GitHub</a>
    </div>
  </header>
  <main class="markdown-body">
    <div class="container">
      {{ content }}
    </div>
  </main>
  <footer>
    <div class="container">
      <p>&copy; ocean</p>
    </div>
  </footer>
</body>
</html>
